@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Slab&display=swap');

:root {
    --primary-color: #135290;
    --secondary-color: #342E37;
    --accent1-color: #A2D729;
    --accent2-color: #FAFFFD;


    --heading-font: 'Arvo', serif;
    --paragraph-font: 'Roboto Slab', serif;


    --headline-color-on-white: #342E27;
    /* headlines on a white background */
    --headline-color-on-color: #A2D729;
    /* headlines on a colored background */
    --paragraph-color-on-white: #342E27;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #A2D729;
    /* paragraph text on a colored background */
    --paragraph-background-color: #FAFFFD;
    --nav-link-color: #FAFFFD;
    --nav-background-color: #342E27;
    --nav-hover-link-color: #342E27;
    --nav-hover-background-color: #A2D729;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: var(--paragraph-background-color);
}

/*HEADING SECTION*/

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 2em;
}

.logo {
    grid-column: 1/4;
    grid-row: 1/2;
}

a {
    text-decoration: none;
    color: var(--accent1-color);
    padding: 20px;
}

a:hover {
    text-decoration: none;
    background-color: var(--paragraph-color-on-color);
    color: var(--paragraph-color-on-white);
    padding: 20px;
}

.join {
    grid-column: 4/6;
    grid-row: 1/2;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--nav-background-color);
    padding: 1em;
}

.menu {
    grid-column: 1/2;
}

.discover {
    grid-column: 2/3;
}

.directory {
    grid-column: 3/4;
}

/*HERO SECTION*/

#hero {
    display: block;
    margin: 0 auto;
}

#hero-box {
    margin: 2px;
}

/*MAIN SECTION*/

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#current-event {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
}

#weather-card {
    grid-column: 3/4;
    grid-row: 1/3;
}

#ads-carrousel {
    grid-column: 1/4;
    grid-row: 3/4;
}

/*FOOTER SECTION*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    justify-content: center;
    background-color: black;
    color: var(--paragraph-background-color);
}

#description {
    grid-column: 1/2;
}

#social {
    grid-column: 2/3;
}