@media screen and (min-width:850px) {
    :root {
        --primary-color: #135290;
        --secondary-color: #342E37;
        --accent1-color: #A2D729;
        --accent2-color: #FAFFFD;


        --heading-font: 'Arvo', serif;
        --paragraph-font: 'Roboto Slab', serif;


        --headline-color-on-white: #342E27;
        /* headlines on a white background */
        --headline-color-on-color: #A2D729;
        /* headlines on a colored background */
        --paragraph-color-on-white: #342E27;
        /* paragraph text on a white background */
        --paragraph-color-on-color: #A2D729;
        /* paragraph text on a colored background */
        --paragraph-background-color: #FAFFFD;
        --nav-link-color: #FAFFFD;
        --nav-background-color: #342E27;
        --nav-hover-link-color: #342E27;
        --nav-hover-background-color: #A2D729;
    }

    #content {
        max-width: 1500px;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        background-color: var(--paragraph-background-color);
    }

    /*HEADING SECTION*/

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        padding: 2em;
    }

    .logo {
        justify-content: center;
    }

    /*DARK MODE*/
    main {
        background-color: #000;
        color: #eee;
    }

    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .dark-mode {
        background-color: #000;
        color: #fff;
        border-color: #eee;
    }

    /*NAVIGATION*/
    a {
        text-decoration: none;
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
        padding: 20px;
    }

    a:hover {
        text-decoration: none;
        background-color: var(--nav-hover-link-color);
        color: var(--nav-hover-background-color);
        padding: 20px;
    }

    .navigation {
        display: flex;
        padding: 1em;
        background-color: var(--nav-hover-background-color);
        justify-content: space-around;
        flex-direction: row;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation a {
        display: flex;
        flex-direction: row;
        font-weight: 800;
    }


    #menu {
        display: none;
        /* hide hamburger button */
    }

    /*Hero*/
    .hero {
        margin: 5px auto;
        position: relative;
        border: 1px solid rgba(0, 0, 0, .1);
        height: 350px;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*MAIN SECTION*/

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #current-event {
        display: grid;
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #weather-card {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    #ads-carrousel img {
        width: 25%;
        height: 25%;
        margin: 25px;
    }

    /*DIRECTORY SECTION*/
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding: 3rem;
    }

    section {
        margin: 0.25rem;
        padding: 0.35rem;
        border: 1px solid #bbb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section>p {
        padding: .3rem;
    }

    /*FORM SECTION*/

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding: 1rem;
    }

    fieldset {
        display: block;
    }

    .divisions {
        padding: 1rem;
    }

    .top input {
        height: 45px;
        border-radius: 10px;
    }


    .top {
        display: block;
        border: 1px solid black;
        padding: 1rem;
        text-align: left;
    }

    .level {
        display: block;
        border: 1px solid black;
        padding: 1rem;
        text-align: left;
    }

    .benefits {
        text-align: left;
        margin: 2rem;
    }

    button {
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: var(--accent1-color);
        border: 1px solid black;
        border-radius: 10px;
    }


    /*FOOTER SECTION*/

    footer {
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.808);
        color: var(--paragraph-background-color);
    }

    #description {
        margin: 1rem;
        padding-right: 10rem;
    }

    #social {
        margin: 1rem;
        padding: 1rem;
    }
}