@media screen and (min-width:500px) {
    header {
        background-color: rgb(41, 128, 6);
        color: white;
    }

    /********************************************/
    .navigation {
        display: none;
        justify-content: space-around;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation a {
        display: flex !important;
        flex-direction: row !important;
    }

    /********************************************/
    main {
        grid-template-columns: 1fr;
    }

    ul {
        padding-left: 30%;
    }
}