@media screen and (min-width:600px) {
    header {
        background-color: rgb(41, 128, 6);
        color: white;
    }

    main {
        grid-template-columns: 1fr;
    }

    ul {
        padding-left: 30%;
    }
}